<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schooltraining.storesdistribution.mapper.NotificationMapper">

    <!-- 批量插入 -->
    <insert id="keepWithMemberRelation">
        insert into wms_user_notification(
        <!-- <include refid="insertColumn"></include> -->
        user_id,notification_id
        )
        values
        <foreach collection="userIds" item="userId" separator=",">
            (#{userId}, #{notificationId})
        </foreach>
    </insert>

    <!-- 批量更新 -->
	<update id="updateStatusWithUser">
        <foreach collection="userIds" item="userId" separator=";">
            UPDATE wms_user_notification
            <set>
                status = '1'
            </set>
            <where>
                user_id = #{userId} AND notification_id = #{notificationId}
            </where>
        </foreach>
    </update>

    <!-- 获取用户消息 -->
    <select id="getNotificationsByUserId" resultType="Notification">
        SELECT id, title, content, create_time, status FROM wms_notification wn , wms_user_notification wun
        WHERE wn.id = wun.notification_id AND wun.user_id = #{userId}
    </select>

</mapper>