<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schooltraining.storesdistribution.mapper.SaleMapper">

    <select id="selectStoreTurnoverByYearAndMon" resultType="Sale">
        SELECT SUM(total_price) turnover, COUNT(*) order_num, DATE_FORMAT(create_time,'%Y') year,
          DATE_FORMAT(create_time,'%m') mon, store_id FROM oms_order_item
        WHERE DATE_FORMAT(create_time,'%Y-%m') = #{checkDate} AND store_id = #{storeId};
    </select>
</mapper>