<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schooltraining.storesdistribution.mapper.StoreMapper">
    
    <select id="getUserIds" resultType="Integer">
        SELECT id from ums_user where store_id = #{storeId};
    </select>
</mapper>