<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schooltraining.storesdistribution.mapper.UserMapper">
    
    <select id="getRoleIdsByUserId" resultType="Integer">
        SELECT role_id from ums_user_role where user_id = #{userId}
    </select>

    <select id="selectUserLikeUserNameOrName" resultType="User">
        SELECT * from ums_user where user_name like concat(concat("%",#{userName}),"%")
        OR name like concat(concat("%",#{userName}),"%")
    </select>

    <select id="selectUserLikeName" resultType="User">
        SELECT * from ums_user where name like concat(concat("%",#{name}),"%")
    </select>

</mapper>